<%- include('../components/header.ejs') -%>
<%- include('../components/menuNavegacion.ejs') -%>

     <div class="mainContainer">
        <div class="centeringContainer">
            <h1 class="tituloSeccion">Crear nueva actividad</h1>
            <form action="/actividades/crear" method="post" enctype="multipart/form-data" id="form">
                <div class="formContent">
                    <div class="formImagen">
                        <div class="square" id="preview"></div>
                        <% if (imagen) { %>
                            <script>
                                document.getElementById('preview').style.backgroundImage = "url('<%= imagen %>')";
                            </script>
                        <% } %>
                        <input type="file" id="imagenActividad" name = "imagen" style="visibility: hidden; position: absolute;">
                        <label for="imagenActividad" id="customUploadText">
                            <p>Elegir imagen</p>
                        </label>
                    </div>
                    <div class="formCampos">
                        <div class="formText">
                            <label for="nombreActividad">Nombre de la actividad*</label><br>
                            <% if (nombre) { %>
                                <input type="text" id="nombreActividad" name="nombre" required placeholder="Nombre de la actividad" value="<%= nombre %>">
                            <% } else { %>
                                <input type="text" id="nombreActividad" name="nombre" required placeholder="Nombre de la actividad">
                            <% } %>
                        </div>
                        <div class="formText" id="formTextDesplegable">
                            <label for="grupoActividad">Grupo que participa*</label><br>
                            <select id="grupoActividad" name="grupo" required>
                                <% if(grupos) { %>
                                    <% if(grupo) { %>
                                        <option value="0">Grupo que participa</option>
                                        <% grupos.forEach(grupo => { %>
                                            <option value="<%= grupo.nombre %>" <%= grupo.nombre === grupo ? 'selected' : '' %>><%= grupo.nombre %></option>
                                        <% }); %>
                                    <% } else { %>
                                        <option value="0" selected>Grupo que participa</option>
                                        <% grupos.forEach(grupo => { %>
                                            <option value="<%= grupo.nombre %>"><%= grupo.nombre %></option>
                                        <% }); %>
                                    <% } %>
                                <% } else { %>
                                    <option value="0">Grupo que participa</option>
                                    <option value="Nataci칩n">Nataci칩n</option>
                                    <option value="Ultimate">Ultimate</option>
                                    <option value="Rugby">Rugby</option>
                                    <option value="Teatro">Teatro</option>
                                    <option value="Ensamble de rock">Ensamble de rock</option>
                                    <option value="Danza 치rabe">Danza 치rabe</option>
                                <% } %>
                                
                            </select>
                        </div>
                        <div class="formText" id="formFecha">
                            <label for="fechaActividad">Fecha de la actividad*</label><br>
                            <% if (fecha) { %>
                                <input type="date" id="fechaActividad" name="fecha" required placeholder="Fecha de la actividad" value="<%= fecha %>">
                            <% } else { %>
                                <input type="date" id="fechaActividad" name="fecha" required placeholder="Fecha de la actividad">
                            <% } %>
                        </div>
                        <div class="formText" id="formLugar">
                            <label for="lugarActividad">Lugar de la actividad</label><br>
                            <% if (ubicacion) { %>
                                <input type="text" id="lugarActividad" name="ubicacion" required placeholder="Lugar de la actividad" value="<%= ubicacion %>">
                            <% } else { %>
                                <input type="text" id="lugarActividad" name="ubicacion" placeholder="Lugar de la actividad">
                            <% } %>
                        </div>
                        <div class="formText">
                            <label for="resultadoActividad">Resultado de la actividad</label><br>
                            <% if (resultado) { %>
                                <input type="text" id="resultadoActividad" name="resultado" placeholder="Resultado de la actividad" value="<%= resultado %>">
                            <% } else { %>
                                <input type="text" id="resultadoActividad" name="resultado" placeholder="Resultado de la actividad">
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <input type="button" class="formButton" id="formButtonAzulEnviar" value="Guardar">
                    </form>
                    <form action="/actividades">
                        <input type="submit" class="formButton" id="formButtonRojo" value="Cancelar">
                    </form>
                </div>
            </form>
     
        </div>
    </div>

    <script>
    <% if(mensajeAlerta) {%>
        Swal.fire({
            html: `<p class="textoAlerta"> <%= mensajeAlerta %> </p>`,
            confirmButtonText: "Volver",
            customClass: {
                confirmButton: "button azul",
            },
        });
    <% } %></script>

    <%- include('../components/footer.ejs') -%>